:root {
  /* Colors */
  --primary: #040822;
  --white: #ffffff;
  --black: #000000;
  --bg-arrow: #ECF0F5;
  --arrow-color: #030712;


  /* Neutrals */
  --background: #040822;
  --foreground: #f8fafc;


  /* Figma Design Variables */
  --navbar-bg: rgba(255, 255, 255, 0.08);
  --navbar-radius: 20px;
  --btn-primary-bg: rgba(0, 162, 251, 0.2);
  --btn-radius: 12px;

  /* Layout */
  --max-width: 1200px;
  --section-padding: 100px 5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

ul {
  list-style: none;
}